site_name: MadLAD
site_description: Documentation for MadLAD
site_author: Zihan Zhang

repo_name: tzuhanchang/MadLAD
repo_url: https://github.com/tzuhanchang/MadLAD

theme:
  name: material
  logo: _logo.png
  icon:
    repo: fontawesome/brands/github
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      primary: custom
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

  #logo: 'images/FastFramesLogo.png'
  features:
    - navigation.sections
    - navigation.expand
    - navigation.indexes
    - navigation.tabs

nav:
  - Home:
    - index.md
    - Changelog: CHANGELOG.md
    - Licence: LICENCE.md
    - Contributors: contributors.md
  - User Guide:
    - ... | get-started/**.md
    - ... | advanced-topics/**.md
  - Built-in Processes: processes/processes.md

markdown_extensions:
  - admonition
  - codehilite
  - pymdownx.arithmatex
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.smartsymbols
  - pymdownx.superfences

plugins:
  - search
  - awesome-pages

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML'

# extra:
  # version:
  #   provider: mike
