name: Test MadLAD w/ Docker

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Conda for Python 3.10
      uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: '3.10'

    - name: Add conda to system path
      run: |
        # $CONDA is an environment variable pointing to the root of the miniconda directory
        echo $CONDA/bin >> $GITHUB_PATH

    - name: Install dependencies
      continue-on-error: true
      run: |
        pip install pyyaml
        pip install hydra-core --upgrade

    - name: Test MadLAD container build
      run: |
        python -m madlad.build -c examples/config_build.yaml
    
    - name: Test MadLAD container build
      run: |
        python -m madlad.generate --config-name=ttbar-allhad run.auto-launch=True